<html>
<head>
    <title>The economy of Smith county</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link type="text/css" href="reset.css" rel="stylesheet" />
    <link type="text/css" href="patterns.css" rel="stylesheet" />

    <!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

    <script type="text/javascript" src="jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <script language="javascript" type="text/javascript" src="jit-min.js"></script>

    <script language="javascript" type="text/javascript" src="data.js"></script>
    <script language="javascript" type="text/javascript" src="patterns.js"></script>
</head>
<body>
    <div id="legend-wrapper">
        <div id="legend">
        <h1>The economy of Smith County</h1> 

        <p>This graph, called a <a href="http://en.wikipedia.org/wiki/Treemapping">treemap</a>, shows Smith County's economy divided into the major groupings of the <a href="http://www.census.gov/eos/www/naics/">North American Industry Classification System</a>. Each box is scaled relative to the proportion of the business activity it represents.</p>

        <p>Data for this application is taken from the <a href="http://www.census.gov/">U.S. Census Bureau's</a> recently released <a href="http://www.census.gov/econ/cbp/index.html">2009 County Business Patterns</a> survey.</p>

        <div class="controls">
            <h5>Redistribute the graph by:</h5>
            <button class="establishments" onclick="reshape_treemap('establishments');">Establishments</button><br />
            <button class="paid_employees" onclick="reshape_treemap('paid_employees');">Number of employees</button><br />
            <button class="annual_payroll" onclick="reshape_treemap('annual_payroll');">Total annual payroll*</button>
        </div>

        <p>Move your mouse over the graph for additional details.</p>

        <div class="credits">
            A <a href="http://hacktyler.com"</a>Hack Tyler</a> project<br />
        <strong>Source:</strong> <a href="http://www.census.gov/">U.S. Census Bureau</a>
        </div>
    </div>
    </div>

    <div id="infovis">
    </div>

    <script type="text/template" id="node-template">
        <div class="node-wrapper">
            <h4><%= name %></h4>
        </div>
    </script>

    <script type="text/template" id="tooltip-template">
        <h5><%= name %></h5>
        <table class="tip-stats">
            <tr>
                <td class="label">Establishments:</td>
                <td class="stat"><%= data.str_establishments %></td>
            </tr>
            <tr>
                <td class="label">Paid employees:</td>
                <td class="stat"><%= data.str_paid_employees %></td>
            </tr>
            <tr>
                <td class="label">Annual Payroll*:</td>
                <td class="stat"><%= data.str_annual_payroll %></td>
            </tr>
        </table>
    </script> 
</body>
</html>
