<html>
<head>
    <title>The economy of Smith county</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link type="text/css" href="reset.css" rel="stylesheet" />
    <link type="text/css" href="patterns.css" rel="stylesheet" />

    <!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

    <script type="text/javascript" src="jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <script language="javascript" type="text/javascript" src="jit-min.js"></script>

    <script language="javascript" type="text/javascript" src="data.js"></script>
    <script language="javascript" type="text/javascript" src="patterns.js"></script>
</head>
<body>
    <div id="legend-wrapper">
        <div id="legend">
        <h1>Smith County<br />economic atlas</h1> 

        <p>This graph, called a <a href="http://en.wikipedia.org/wiki/Treemapping">treemap</a>, shows Smith County's economy divided into the categories of the <a href="http://www.census.gov/eos/www/naics/">North American Industry Classification System</a>.</p>
        
        <p>Each box is scaled relative to the proportion of economic activity it represents. Click on any category with an arrow next to it's name to drill down and get more detail. The category you are currently viewing is listed across the top.</p>

        <p>Data for this application is taken from the 2010 annual summary of the Bureau of Labor Statistics' <a href="http://www.bls.gov/cew/">Quarterly Census of Employment and Wages</a>.</p>

        <div class="controls">
            <h5>Redistribute the graph by:</h5>
            <button class="annual_payroll" onclick="reshape_treemap('annual_payroll');">Total annual payroll</button>
            <button class="paid_employees" onclick="reshape_treemap('paid_employees');">Paid employees</button><br />
            <button class="establishments" onclick="reshape_treemap('establishments');">Establishments</button><br />
        </div>

        <p>Move your mouse over the graph for additional details.</p>

        <div class="credits">
            A <a href="http://hacktyler.com"</a>Hack Tyler</a> project<br />
        <strong>Data/Code:</strong> <a href="https://docs.google.com/spreadsheet/ccc?key=0AlXMOHKxzQVRdDAwUmhJNUpwcHNja2kyYVZTSDBtX3c&hl=en_US">Google Docs</a> & <a href="https://github.com/hacktyler/hacktyler-economy">Github</a><br />
            <strong>Source:</strong> <a href="http://www.bls.gov/">Bureau of Labor Statistics</a>
        </div>
    </div>
    </div>

    <div id="infovis">
    </div>

    <script type="text/template" id="node-template">
        <div class="node-wrapper">
            <h4><%= name %><% if (getSubnodes().length > 2) { print(" &rsaquo;"); } %></h4>
        </div>
    </script>

    <script type="text/template" id="tooltip-template">
        <h5><%= name %></h5>
        <table class="tip-stats">
            <tr>
                <td class="label">Establishments:</td>
                <td class="stat"><%= data.str_establishments %></td>
                <td class="pct"><%= data.str_establishments_pct %></td>
            </tr>
            <tr>
                <td class="label">Paid employees:</td>
                <td class="stat"><%= data.str_paid_employees %></td>
                <td class="pct"><%= data.str_paid_employees_pct %></td>
            </tr>
            <tr>
                <td class="label">Annual Payroll:</td>
                <td class="stat"><%= data.str_annual_payroll %></td>
                <td class="pct"><%= data.str_annual_payroll_pct %></td>
            </tr>
        </table>
    </script> 
</body>
</html>
