html, body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin:0;
    padding:0;
    font-family: Georgia, serif;
    background-color: #F3EFE9;
}

h1, h2, h3, h4, h5 {
    font-family: Verdana, sans-serif;
}

h1 {
    color: black;
    font-size: 1.8em;
    margin-bottom: 14px;
    line-height: 1.2em;
} 
h2 { font-size: 1.6em } 
h3 { font-size: 1.4em } 
h4 { font-size: 1.3em } 
h5 { font-size: 1.1em } 

body table {
    height: 100%;
}

#legend {
    width: 250px;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    vertical-align: top;
}

#legend p {
    margin-top: 14px;
    line-height: 1.3em;
}

#legend .controls {
    margin-top: 14px;
    margin-bottom: 14px;
}

#legend .controls h5 {
    margin-bottom: 7px;
}

#legend .controls input {
    width: 230px;
    font-size: 14px;
}

#legend .credits {
    margin-top: 14px;
    line-height: 1.3em;
}

#infovis {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.tip {
    color: black;
    width: 300px;
    background-color: #F3EFE9;
    border:1px solid black;
    font-size:14px;
    padding:7px;
}

.tip .tip-stats {
    width: 100%;
    color: black;
    background-color: #F3EFE9;
    margin-top: 7px;
}

.tip .tip-stats .stat {
    text-align: right;
}

.tip .tip-stats .pct {
    text-align: right;
    width: 70px;
    
}

.node {
    color:#ddd;
    font-size:14px;
    overflow: hidden;
    cursor:default;
    text-shadow:2px 2px 5px #000;
    -o-text-shadow:2px 2px 5px #000;
    -webkit-text-shadow:2px 2px 5px #000;
    -moz-text-shadow:2px 2px 5px #000;
}

.node.clickable:hover {
    cursor: pointer;
    color: #fff;
}

.node-wrapper {
    padding: 7px;
}

